__pycache__
artwork
import-playlists-read.cmd
import-playlists-read.tab
import-playlists-write.cmd
import-playlists-write/*.tab
import-songs-write.cmd
import-songs-write.tab
itunes.json
playlists
server.log
songs.json
utunes.json
music
